---
import TitleSection from "./TitleSection.astro";

const {
  id,
  flex = "flex-col lg:flex-row",
  title,
  text,
  img,
  alt,
  maps,
  imgWidth,
  imgHeight,
  fontText = "text-3xl",
} = Astro.props;
---

<section id={id} class="flex justify-center my-8">
  <div
    class={`flex ${flex} lg:justify-center items-center w-screen max-w-screen-xl lg:gap-4 text-black max-m-32 lg:p-6 lg:m-6 rounded-xl`}
  >
    <div
      class="flex flex-col items-center sm:text-left p-6 lg:w-1/2 h-full"
    >
      <TitleSection title={title} fontText={fontText} />
      <p class="mt-4 max-w-lg sm:text-xl whitespace-pre-wrap">{text}</p>
      <slot />
    </div>

    {
      maps === "true" ? (
        <div class="flex justify-center lg:w-1/2">
          <iframe
            title="Tabgha Google Maps"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12308.96320100539!2d2.556854955419921!3d39.53162149999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12978fa4b19c6d47%3A0xf33c97760b377867!2sTabgha%20%7C%20Chiringuito%20Portals%20Nous!5e0!3m2!1ses!2ses!4v1683578073040!5m2!1ses!2ses"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="w-screen p-2 h-full sm:min-h-[400px] min-h-[300px] sm:w-[600px] rounded-md"
          />
        </div>
      ) : (
        <div class="p-6 flex justify-center lg:w-1/2">
          <img loading="lazy" class="max-h-80 rounded-md" src={img} alt={alt} width={imgWidth} height={imgHeight} />
        </div>
      )
    }
  </div>
</section>
